/* Style */
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap%27);
@import url(Style/home.css);
@import url(Style/QuemSomos.css);
@import url(Style/Contatos.css);
@import url(Style/Privacidade.css);
@import url(Style/AreasDeAtuacao.css);
@import url(Style/Produtos.css);
@import url(Style/O\ que\ é.css);
@import url(Style/Quem\ foi.css);
@import url(Style/Realização.css);


:root{

/* Paleta de Cores */
--cor-primaria: #140d1a;
--cor-secundaria: #42142a;
--cor-quintenaria:#ff2e5f;
--cor-quartenaria: #ffd452;
--cor-terciaria: #faeeca;

/* Fontes */
    --fonte-primaria:'Poppins';
}

*{
    font-family: var(--fonte-primaria);
}


html{
    scroll-behavior: smooth;
    background-color:var(--cor-terciaria);
    overflow-x: hidden;
    font-family: var(--fonte-primaria);
} 